validation/
**/*archive*/
**/*working*

.vscode/
.DS_Store

*.log
*.pyc
*.pyo
*.swp
*.swo
*.bak
*.tmp
*.out
*.class
*.o
*.so
*.a
*.exe
*.dll
*.obj
*.~*
*.orig
*.rej
dist/
build/
.env
.env.*
*.coverage
*.egg-info/
__pycache__/
.cache/
*.ipynb_checkpoints
*.lock
*.gz
*.zip
*.tar
*.tgz
*.7z
*.rar
*.min.js
*.map
*.pt
*.sh
*.png

